[2015-11-16 17:25] ericanaughton opened #34 "Written Spanish Translation for <meta>"
- spanish word equivalent
- definition
- how to remember

[2015-11-16 17:48] ericanaughton opened #35 "Written Spanish translation for <style>"
- spanish equivalent word
- definition
- how to remember

[2015-11-16 17:48] ericanaughton opened #36 "Written Spanish translation for <head>"
- Spanish word equivalent
- Definition
- How to remember

[2015-11-16 17:49] ericanaughton opened #37 "Written Spanish translation for <link>"
- Spanish word equivalent
- Definition
- How to remember

[2015-11-16 19:58] ericanaughton opened #38 "Redesign audio player"
We are thinking about redesigning the audio player to have just a play button. One for the english translation, one for the spanish translation.

[2015-11-16 19:59] ericanaughton opened #39 "Combo box"
This will take the place of the drop down list.  Working on customizing a combo box with JQuery (autocomplete too).  Any help would be appreciated!

[2015-11-16 19:59] ericanaughton opened #40 "Sticky Nav Bar"
This will include the combo box (no nav items yet)

[2015-11-16 20:01] ericanaughton opened #41 "User Testing"
Looking for Spanish speaking developers and beginning developers.

We are curious about what challenges spanish speakers have when trying to learn HTML.

We are looking for any kind of feedback for the site!

[2015-11-16 20:03] ericanaughton opened #42 "Contributing.md"
Need to create a document with suggestions for outside contributors, to keep things running smoothly.

for example: https://github.com/rails/rails/blob/master/CONTRIBUTING.md

[2015-11-16 20:51] ericanaughton opened #43 "Update Readme"
provide guidance for beginners on how to use github

for example: https://github.com/boutbitnz/Mad_Discovery

[2015-11-16 20:53] ericanaughton opened #44 "Fix URL's for each element"
In order to easily share a link to a specific page of LMHT,
As a LMHT user,
I want the page I'm sharing to have a shorter link.

Acceptance Criteria:
- The '.html' is removed from the URL
- The new URL link works

Given a LMHT user,
When I want to share a specific page of LMHT,
I can use a URL that is short enough to remember.

[2015-11-16 20:54] ericanaughton opened #45 "Links for advanced resources"
In order to further my learning,
As an English or Spanish HTML learner,
I want access to advanced resources.

Acceptance Criteria:
- Links to other sites work when you click them
- The resources we recommend are quality sites, such as MDN
- A statement such as, "Ready to further your learning?.." is used
- These resources a visible in a way that's not overwhelming or cluttered

Given an English or

[2015-11-16 21:05] ericanaughton opened #46 "Welcome Section - English"
Add a section that gives an explanation for the site, how to use it, etc.

This can be placed in a container that resembles the layout of the definitions.

This can be in view before the user chooses an element.

Currently, with the dropdown list, the Welcome Section could be placed under the 'select a tag' feature.  When the combo box replaces the drop down list, it can be displayed in the same p

[2015-11-16 21:10] ericanaughton opened #47 "Update template.html"
Remove comments in this file.
Add &gt ;    --there is no space between t and ;

Template.html is used over and over again, so it will save time if the comments do not exist in this file, since we will remove them anyway.  If a new contributor needs guidance on filling out the template, the comments can still be found in the template in the Readme.

to display < and >, we must use a code that will

[2015-11-16 21:18] ericanaughton opened #48 "reword 'base word'"
Kathy did a mock up and talked to Jim about changing:

'English base word' to 'English base'
and
'Spanish Equivalent Word' to 'Spanish translation/Traducción en Español'

This will eliminate all the singular/plural talk as well as providing a more accurate description of what each is.

[2015-11-16 21:19] ericanaughton opened #49 "Remove a dash"
In the code example in a.html, it currently says:

hyper-link
- it should be hyper link.

[2015-11-17 18:37] ericanaughton commented on #40
waiting on two thumbs up for https://github.com/LMHT/LMHT.github.io/pulls

[2015-11-18 17:39] mostlybadfly opened #51 "URL for site"
It looks like the URL referenced in the description should just be https://lmht.github.io . Also, the URL for the logo could probably be changed back at this point. I can submit a PR for the link, but wanted to give a heads up on the repo description.

[2015-11-18 22:01] kathyoleary commented on #48
PR#53 is waiting for double thumbs and should fix this.  Just FYI also put new trello board up because the spanish side does not say Spanish Words Equivalent and that sounds funny anyways.

[2015-11-20 21:12] #40 closed, assigned to savance-ford

[2015-11-20 21:12] ericanaughton commented on #39
moved combo box into sticky nav. waiting for approval to merge.

[2015-11-20 21:13] ericanaughton commented on #51
i agree, go for it :)

[2015-11-20 21:13] #49 closed, assigned to nobody

[2015-11-20 21:14] #47 closed, assigned to nobody

[2015-11-20 21:14] ericanaughton commented on #44
Note: To get rid of .html, check out these references
https://www.geekshosted.com/Blog/how-to-remove-html-from-your-url/
http://alexcican.com/post/how-to-remove-php-html-htm-extensions-with-htaccess/

[2015-11-20 21:16] ericanaughton commented on #39
PR: https://github.com/LMHT/LMHT.github.io/pull/55

[2015-11-23 17:24] ericanaughton commented on #38
SaVance plans to have this complete for the current sprint

[2015-11-23 17:25] ericanaughton opened #57 "Upload Audio Files"
SaVance plans to have the completed audio files uploaded for the current sprint.

[2015-11-23 17:26] ericanaughton commented on #42
Kathy & Jen plan to finish this for the current sprint

[2015-11-23 17:26] ericanaughton commented on #43
Kathy & Jen plan to finish this for the current sprint

[2015-11-23 17:29] ericanaughton opened #58 "set up 'develop' branch"
instead of deploying straight to the github page (production), there should be one step before that (develop branch). this will avoid broken/incomplete features from being visible to the public.

I plan to finish this for the current sprint.

[2015-11-23 17:29] ericanaughton commented on #48
Kathy plans to finish this for the current sprint

[2015-11-23 17:30] ericanaughton commented on #46
This needs to be on the next sprint (11/30)

[2015-11-23 17:32] ericanaughton opened #59 "Change sticky nav from transparent to solid"
the sticky nav should not be transparent. when the audio player is visible beneath the sticky nav, it appears to be functional. but the the audio player is not functional, when the sticky nav is over the top of it. so the sticky nav should be solid, rather than transparent.

SaVance plans to finish this for the current sprint.

[2015-11-23 17:50] #51 closed, assigned to mostlybadfly

[2015-11-23 20:54] kathyoleary commented on #48
Kathy did finish this for the current sprint.  Yay Kathy!  Woot!

[2015-11-23 20:54] #48 closed, assigned to kathyoleary

[2015-11-23 21:00] ericanaughton opened #61 "fix code indentation in whole site"
all indentation should be 2 spaces.

[2015-11-23 21:00] ericanaughton opened #62 "replace > with &gt in index.html"
only a couple of the elements have &gt right now

[2015-11-23 21:34] ericanaughton opened #63 "Create ribbon for 'Contribute Here'"
@bigtiger, back in the day, you gave feedback about having the contributing info emphasized and easy to see right away. @SaVanceX made a wireframe (maybe about a month ago) with that info placed above the current audio player. Do you prefer to have that contributing info displayed on the site always? Or is it good enough to have it in the Welcome Section?  We also talked about using a 'ribbon' in

[2015-11-24 18:29] mostlybadfly commented on #34
working on this one.

[2015-11-24 18:45] mostlybadfly commented on #37
got this one.

[2015-11-24 22:33] JenEEsquivel commented on #43
Added comments and additions to the README.md google docs file.

[2015-11-25 00:24] mostlybadfly commented on #36
submitted this on PR #66

[2015-11-25 00:50] mostlybadfly commented on #35
submitted on PR #67

[2015-11-25 17:32] savance-ford opened #68 "get Spanish audio for last 4 elements"

[2015-11-25 21:19] savance-ford opened #70 "Fix functionality of audio player"

[2015-11-25 21:56] ericanaughton commented on #38
SaVance: "Needs finishing up with Kevin's help."

[2015-11-25 22:13] kathyoleary commented on #42
https://drive.google.com/a/adorable.io/file/d/0BwOijbndnWZLeWtvZkV1QS1WekU/view?usp=sharing

half-way finished - updating the rest

[2015-11-25 22:14] kathyoleary commented on #43
https://drive.google.com/a/adorable.io/file/d/0BwOijbndnWZLVjluNm81T1NBQnc/view?usp=sharing

Will update the last section with the new email address so people can contact with issues as needed

[2015-11-30 16:40] ericanaughton commented on #70
@SaVanceX fyi, issue #38 already covers this.

[2015-11-30 16:41] #58 closed, assigned to ericanaughton

[2015-11-30 16:42] ericanaughton commented on #42
good work @kathyoleary

[2015-11-30 17:25] #68 closed, assigned to nobody

[2015-11-30 17:26] kathyoleary commented on #68
Replaced with individual definitions as issues

[2015-11-30 18:12] ericanaughton opened #71 "Restyle combobox/sticky nav"
goal: make combobox the main focus of the site

inspiration: https://thenounproject.com/

PR is out there, waiting for one more thumb: https://github.com/adorableio/LMHT/pull/6

[2015-11-30 18:14] ericanaughton opened #72 "Email response system"
[x] Jen E. agreed to being the primary person to respond
[x] Kathy has agreed to be the backup person
**try to respond with in a couple days

[2015-11-30 18:16] ericanaughton opened #73 "Create a Wiki"
- [x] create a wiki in LMHT github
- [x] document the responsibilities of team members, i.e. Person who responds to emails.

[2015-11-30 18:25] ericanaughton commented on #39
waiting for approval to merge to master

[2015-11-30 18:29] ericanaughton opened #74 "Remove all unused branches"
- [x] Adorable repo
- [x] LMHT repo

[2015-11-30 18:30] ericanaughton commented on #41
current list of contributors, who can also do user testing:

https://docs.google.com/document/d/1yr3lA8Hs6Oy918DKKDmLOuLNXwWLtulSo9qldhbkuU8/edit

[2015-11-30 18:31] ericanaughton opened #75 "Add Comment Box"
In order to give quick feedback to the LMHT project,
As a LMHT user,
I want to be able to leave comments or questions directly on the site.

Acceptance Criteria:
- Each page has a comment section in the footer for users to comment on the related page
- Comments are sent to lmht@adorable.io
- Comment box is styled similarly to current site
- Contact info (such as email) is mandatory for leaving a c

[2015-11-30 18:34] ericanaughton opened #76 "Text editor styled reference feature"
In order to be better prepared for coding in the real world,
As a new HTML learner,
I want to view all the elements in a format that resembles a text editor in the sidebar.

Acceptance Criteria:
- The sidebar contains a complete list of all the elements defined in the site
- Each element is a link that directs the related page
- The information is organized and easy to understand
- The color schem

[2015-11-30 18:34] ericanaughton opened #77 "logo"
In order to be drawn to the site and have an idea of what the site could be about,
As a user of LMHT,
I want a simple logo that makes LMHT memorable.

Acceptance Criteria:
- Logo fits in with purpose of site
- Logo demonstrates the function of the site, in a creative way
- Logo resizes nicely, for all screen sizes
- Logo is simple enough to be shrunk down and still tell what it is
- Logo is unique

[2015-11-30 18:35] ericanaughton opened #78 "Remove text from header"
In order to improve user experience,
As a LMHT user,
I want to less text in the header, so I can be focused immediately on the search tool and welcome section.

Acceptance Criteria:
- 'Helping Spanish speakers...' and translation is removed

Given a LMHT user,
When I go to the LMHT site,
I am first drawn to the search tool and welcome section.

[2015-11-30 18:37] ericanaughton opened #79 "Search for tag within all definitions"
In order to widen my search,
As a LMHT user,
I want to be able to search for tag names that are used within the definitions.

Acceptance Criteria:
- jQuery is revised so that the search tool searches within definitions
- The autocomplete dropdown list shows all options, even when the word is partially typed
- All options shown look consistent with the LMHT format

Given a LMHT user,
When I begin t

[2015-11-30 19:47] savance-ford opened #80 "Spanish Link tag Record/Edit audio"

[2015-11-30 19:48] savance-ford opened #81 "Spanish Style tag Record/Edit audio"

[2015-11-30 19:50] savance-ford opened #82 "Spanish Meta tag Recording/Edit audio"

[2015-11-30 19:50] savance-ford opened #83 "Spanish Head tag Recording/Edit audio"

[2015-11-30 21:03] ericanaughton opened #84 "Create new URL for LMHT"
In order to access the LMHT site and to remember the URL easily,
As a LMHT user,
I want a shorter URL for the LMHT site.

Acceptance Criteria:
- URL must be availalbe
- URL must be approved by Jim
- Github repo must be told what the new URL is
- The new site works properly and contains everything from the previous site
- The old github page site must be shutdown

Given a LMHT user,
When I hear abo

[2015-11-30 21:48] #39 closed, assigned to ericanaughton

[2015-11-30 21:49] ericanaughton commented on #39
got merged to LMHT master (gh-page)

[2015-11-30 22:11] ericanaughton commented on #71
after merging the combobox to LMHT master, i saw a 404 error for http://0.0.0.0:8000/favicon.ico

it's gone now. not sure what that was about.

[2015-11-30 22:15] kathyoleary commented on #43
Sent it out for thumbs up

[2015-11-30 22:15] kathyoleary commented on #42
Sent it out for thumbs up

[2015-12-01 16:36] ericanaughton opened #86 "restyle sticky nav"
https://thenounproject.com/ has a great sticky nav with combobox!

the nav bar is invisible until you scroll down, then it appears. the combobox shifts to the left-center (lining up with the main content on the page). the only difference i would make to that code is to make the transition into the sticky nav smoother (the way our sticky nav currently transitions).

the noun project uses react, so

[2015-12-01 17:35] ericanaughton commented on #71
I'm removing the content above the combobox which says "Select an element to view definition, memorization aids, audio pronunciation, and code sample:" and its Spanish translation, since this will be stated in the Welcome Section.

[2015-12-01 18:20] ericanaughton opened #88 "Add attributes for HTML tags"
In order to understand HTML,
As a Spanish or English LMHT user,
I want to learn about the attributes of HTML tags.

Acceptance Criteria:
- Commonly used attributes are represented
- Attributes are defined and translated
- Attributes have a 'How to remember' tips
- Audio recordings of attributes are available
- Code example of attributes
- Attributes are displayed in an organized, simplified manner

[2015-12-01 20:45] ericanaughton commented on #71
found a great resource for adding "Search for an element" into the combobox

http://jsfiddle.net/X5ynZ/

[2015-12-01 22:06] ericanaughton commented on #71
currently in branch, ive changed the width of the combobox to something like 58em. But when you shrink the window, the button goes below the combobox. needs adjusting, so the window can be any size (one day even for smartphones). https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ has some media queries that could work.

[2015-12-02 16:30] ericanaughton commented on #71
i'd like to remove the button, mostly because it's getting in the way. when the screen size is skinnier, the button moves below the combobox. we have the button so that people can view the whole dropdown list, which is a good function. but if we do the text editor style sidebar with all the elements referenced, then the button may not be necessary.

[2015-12-02 16:37] andarms opened #94 "Auto generate HTML code"
In this project, you are writing all the HTML examples manually using a HTML template and creating each new .html documentation file for it. This is a good and easy way to do it, but also is a easy way to make mistakes.

Often these documentations projects, where you have to write so many articles the people use a Markup language to write the content and then they parse into the final .html, this

[2015-12-02 21:36] kathyoleary commented on #46
https://drive.google.com/open?id=1p-jCCESHQMdtaBH29IVLqgtaS0WcBBLhlb2Apsgg3BU

Here's the initial setup for the Welcome Section.  I wanted to do it on my shared drive first and just get immediate team feedback first, before putting it out on a pull request and getting the whole team feedback.  Going for it being on an element.html page and it will show as the placeholder page when you open up the

[2015-12-03 19:54] ericanaughton opened #96 "Cleanup all the code"
In order to use best practices
As a contributor to LMHT,
I want to cleanup all the code.

Acceptance Criteria:
- In CSS, all styles are alphabetized in each class
- In CSS, all classes are in order, relating to where they are in HTML
- All indentation is consistent (2 spaces)
- Make sure all the HTML/CSS is DRY

Given a contributor to LMHT,
When I search through the code,
I am able to easily find

[2015-12-04 16:17] #86 closed, assigned to nobody

[2015-12-04 22:52] ericanaughton opened #97 "create a link in the link example"
In order to understand how a link works,
As a new developer using LMHT,
I want to click a link to see what it does.

Acceptance Criteria:
- Code for link is added
- The destination of the link is related to the project somehow
- The code example of 'link' has a link that works

Given a new developer using LMHT,
I want to interact with the code I'm learning
By clicking a link that shows me what a l

[2015-12-07 15:33] ericanaughton commented on #59
this will be part of https://github.com/adorableio/LMHT/pull/6 (WIP)

[2015-12-07 15:40] ericanaughton commented on #43
@kathyoleary next time, you can put a link to the PR here :)
https://github.com/adorableio/LMHT/pull/4

[2015-12-07 15:41] savance-ford commented on #70
-fixed functionality
-working inside element containers

[2015-12-07 15:41] ericanaughton commented on #42
PR is out there: https://github.com/adorableio/LMHT/pull/3
but changes need to be made based on feedback given. @kathyoleary

[2015-12-07 15:42] ericanaughton commented on #34
https://github.com/LMHT/LMHT.github.io/pull/64 has two thumbs. then jen gave a suggestion, daniel agreed to correct it. he planned on using the same PR. we can wait til he adds the correction. or we can merge what is already done.

[2015-12-07 15:47] ericanaughton commented on #37
https://github.com/LMHT/LMHT.github.io/pull/65 needs one more thumb

[2015-12-07 15:53] ericanaughton opened #98 "update accent marks for spanish text"
https://github.com/LMHT/LMHT.github.io/pull/92 needs two thumbs
https://github.com/LMHT/LMHT.github.io/pull/91 needs two thumbs
https://github.com/LMHT/LMHT.github.io/pull/90 needs two thumbs
https://github.com/LMHT/LMHT.github.io/pull/89 needs two thumbs
https://github.com/LMHT/LMHT.github.io/pull/87 needs one thumb
https://github.com/LMHT/LMHT.github.io/pull/85 needs one thumb

[2015-12-07 15:58] ericanaughton commented on #74
didn't get to it this sprint

[2015-12-07 15:58] ericanaughton commented on #73
didn't get to it this sprint

[2015-12-07 15:59] ericanaughton commented on #62
fixed it. made a PR https://github.com/adorableio/LMHT/pull/7

waiting to see if i can make some other changes on this branch (like cleanup/alphabetize css), before getting merged.

[2015-12-07 17:23] #72 closed, assigned to JenEEsquivel

[2015-12-07 17:28] #59 closed, assigned to ericanaughton

[2015-12-07 20:32] ericanaughton opened #99 "move placeholder code into combobox.js only"
In order to prevent confusion for other contributors,
As a contributor to LMHT,
I want to move the 'input' code from script.js into combobox.js,
so that code will target only the combobox,
rather than the javacript in the whole site.

Acceptance Criteria:
- Line 8 in script.js needs to be moved to combobox.js
- That line of code may need to be rewritten to fit in combobox.js correctly
- The placeh

[2015-12-07 21:34] ericanaughton commented on #71
researching media query breakpoints, so that the button doesn't move below the combobox, when the screen size gets skinnier.

[2015-12-09 16:12] ericanaughton commented on #46
@kathyoleary how is this going?

[2015-12-09 16:17] ericanaughton commented on #74
Branches in LMHT that I'm not sure about:

'Credits' --> Gives credit to Sandra for the README. This branch was not merged to master.  I messaged sandra & kevin to see if they want it merged, and letting them know it would be updated, if so.

'Gh-pages-old' --> Last commit contains gulpfile addition (in Sept by Chris Coyier).  115 commits behind master. I messaged him to see if it's okay to delete

[2015-12-09 19:43] kathyoleary commented on #74
The Credits branch can be deleted actually, we have completely replaced that readme file with something totally different.

[2015-12-09 20:22] ericanaughton commented on #74
Deleted 'gh-pages-old', 'url-updater', 'add_gulp' (got the okay from chris). Going to wait a day on response from Sandra/Kevin about 'credits' before taking action.

[2015-12-09 20:25] kathyoleary commented on #74
Did you see the comment I put in on the credits one?  That readme file has
been totally replaced so what's in there doesn't even matter anymore.
Should be able to delete it.

On Wed, Dec 9, 2015 at 2:22 PM, Erica Naughton notifications@github.com
wrote:

[2015-12-09 20:38] ericanaughton commented on #74
I deleted the 'credits' from the Adorable master because it does not pertain to us. However, I am not deleting it from the LMHT master right away, in case Sandra still wants credit for her contribution to the README.

[2015-12-09 20:42] ericanaughton commented on #71
Added a new commit, based on feedback. I replaced 'Search for an element' with 'Search/Buscar', so that Spanish speakers know what the search tool is meant for.

[2015-12-09 21:37] kathyoleary commented on #42
Did the rest of the changes and resubmitted for double thumbs up

[2015-12-09 21:39] kathyoleary commented on #43
Got a thumbs up and a conditional thumbs up, didn't realize the changes had to be done with the conditional were attached, merged.  Annalise submitted a change, but her changes had an error so I sent a request back to her to do the change and either resubmit on master or on the original branch and just let me know so I can finish it up.  Waiting for her to send the resubmit.

[2015-12-09 21:40] #62 closed, assigned to ericanaughton

[2015-12-09 21:58] kathyoleary commented on #43
sent the changes myself and put out the double thumbs up request

[2015-12-09 22:06] #73 closed, assigned to ericanaughton

[2015-12-10 12:22] JenEEsquivel commented on #98
I checked the ones I hadn't already.  They need a second, now.
#92 needs one thumb
#91 needs one thumb
#90 needs one thumb
#89 needs one thumb
#87 needs one thumb
#85 needs one thumb

[2015-12-10 12:27] JenEEsquivel commented on #34
:+1: (#34 on--> #64)

[2015-12-10 12:28] JenEEsquivel commented on #35
:+1:  on #67

[2015-12-10 12:29] JenEEsquivel commented on #36
Has two :+1: on #66

[2015-12-10 12:30] JenEEsquivel commented on #37
Has two :+1: (on #65)

[2015-12-10 17:17] #74 closed, assigned to ericanaughton

[2015-12-10 17:17] #71 closed, assigned to ericanaughton

[2015-12-10 17:18] #37 closed, assigned to mostlybadfly

[2015-12-10 17:18] #36 closed, assigned to mostlybadfly

[2015-12-10 17:18] #35 closed, assigned to mostlybadfly

[2015-12-10 17:19] #34 closed, assigned to mostlybadfly

[2015-12-10 17:40] #98 closed, assigned to mostlybadfly

[2015-12-10 17:40] ericanaughton commented on #94
@andarms Thank you for the feedback! I will share this with our group and we'll discuss this.

[2015-12-10 20:36] ahaynes-ador opened #101 "Clicking on the LMHT/HTML logo sends you to the wrong place"
It should send you to root (`/`). Right now, it sends you to `/LMHT`.

[2015-12-10 22:04] ericanaughton commented on #101
fixed it - gonna add some other small fixes before the PR is ready https://github.com/adorableio/LMHT/pull/8

[2015-12-11 16:00] #43 closed, assigned to JenEEsquivel

[2015-12-11 16:00] ericanaughton commented on #43
this has been merged to adorable master.

[2015-12-11 16:00] ericanaughton commented on #42
this has been merged to adorable master.

[2015-12-11 16:00] #42 closed, assigned to kathyoleary

[2015-12-11 16:53] ericanaughton commented on #99
note:  line 11 in combobox.js was followed by this comment...

[code]

[2015-12-11 17:06] ericanaughton commented on #101
PR is ready https://github.com/adorableio/LMHT/pull/8

[2015-12-11 17:24] ericanaughton commented on #88
Possibilities:
- Attributes can be displayed as subcategories in the dropdown list
- Attributes and Tags can be displayed in a text editor style reference side bar (see https://github.com/LMHT/LMHT.github.io/issues/76)

[2015-12-11 17:33] ericanaughton commented on #84
Note: Jim suggested that we use something like LMHT.codes

[2015-12-11 18:21] ericanaughton opened #102 "Contributing.md fixes"
In order to know how I can contribute to LMHT,
As a contributor of LMHT,
I want to have quick access to the contributing details from the README and complete directions on how to run the project locally.

Acceptance Criteria:
- Link to CONTRIBUTING.md inside README works
- contributing.md is changed to CONTRIBUTING.md
- README contains details on running python for the working on the project

Give

[2015-12-11 19:20] kathyoleary commented on #46
Finished what I could, put out an under construction Pull Request  - need spanish translations completed and those already in there reviewed for typos...there _are_ typos...

https://github.com/adorableio/LMHT/pull/9

[2015-12-11 19:24] kathyoleary commented on #63
https://github.com/adorableio/LMHT/pull/9  I removed the footer info in this one.  So now just need to relocate that info if you want it elsewhere..

[2015-12-11 19:42] rylnd commented on #102
Please also rename the file to CONTRIBUTING.md, as that's the standard.

[2015-12-11 19:50] ericanaughton commented on #102
@bigtiger test

[2015-12-11 19:51] kathyoleary opened #103 "Make page load by pressing enter key"
In order to search quickly and efficiently
as a user of the LMHT website,
I want to be able to type the name of the tag I'm looking for and hit enter

Acceptance Criteria:
- Can type in tag name and hit enter to get the correct page

Given a user of the LMHT website
when I type in a tag's name and hit enter
the correct page opens up

[2015-12-11 19:52] bigtiger commented on #102
This worked @ericanaughton

[2015-12-11 20:30] ericanaughton commented on #79
Note: Some ways to view all options:
- Give a preview of the sentence that the tag is used in, with the tag highlighted
- Show only the name of the tag which contains the search item in its definition

[2015-12-11 20:33] kathyoleary opened #104 "Spanish - Translations for Welcome Page"
In order to know how to use the LMHT page
as a spanish speaking user
I want a welcome page that shows me how to use the page in spanish

Acceptance Criteria:
- Welcome page shows up when page opens
- Tells how to use the web page in spanish

Given a Spanish user
When I go to the LMHT web page
A welcome window should open
And give me the basic instructions on how to use the page effectively.

Engli

[2015-12-11 22:39] ericanaughton opened #105 "Spanish translation placeholders"
In order to know I can contribute,
As a Spanish speaking LMHT user,
I want to see a message in empty areas that let me know I can contribute translations.

Acceptance Criteria:
- A message is written English and Spanish
- The message is placed in any unfinished area
- The message inform the user that the section is incomplete and needs help from contributors.

Given a Spanish speaking LMHT user,
W

[2015-12-11 22:42] ericanaughton opened #106 "Clear search box with 'x' icon"
In order to save time and effort,
As a LMHT user,
I want to clear what I type by a click of a button.

Acceptance Criteria:
- The 'x' icon is added to the right side of the combobox
- When the icon is clicked, it clears anything typed in the search field
- The icon looks like a button that clears text

Given a LMHT user,
When I want to clear the search bar,
I can click on the 'x' on the right
And

[2015-12-11 22:45] ericanaughton opened #107 "Clear page after using refresh"
In order to start from fresh,
As a LMHT user,
I want to press refresh and have the page clear out any element I was previously searching.

Acceptance Criteria:
- When refresh is pressed, any previous element is cleared out
- Something like the Welcome Section appears when page is refreshed

Given a LMHT user,
When I refresh the page,
I want the previous element page to be cleared.

[2015-12-11 22:46] ericanaughton opened #108 "Clear search bar when tag is selected"
In order to search for the next element faster,
As a LMHT user,
I want the search bar to clear once I select an element.

Acceptance Criteria:
- When an element is selected, the correct pages opens and the search bar is cleared

Given a LMHT user,
When I choose an element,
I want to the correct page to open
And have the search bar cleared
So I can start searching for the next element right away.

[2015-12-11 22:50] ericanaughton opened #109 "Create a more friendly looking user experience/ Useful Icons"
In order to have a warm, inviting experience,
As a LMHT user,
I want the site to have colorful visual icons.

Acceptance Criteria:
- Icons represent important items (Ex: for definitions, use a book icon)
- Icons have a color that pops, and correlates well with the current color scheme (such as yellow, which is used in the code examples)
- The site seems more inviting and appealing to the eye

Give

[2015-12-11 22:51] ericanaughton opened #110 "Move logo to left side of sticky nav"
In order to know what site I am using at all times,
As a LMHT user,
I want to see the logo at all times, while not having it be the main focus.

Acceptance Criteria:
- Logo is small enough to fit in the sticky nav
- When you scroll down, the logo appears on the left side of the sticky nav
- Clicking the logo brings you to the home page (Welcome Section)
- A simplified version of the logo is placed

[2015-12-11 22:54] ericanaughton opened #111 "Make printable versions of the 'cards'"
In order to help retain what I learn on LMHT,
As a new developer,
I want to be able to easily print off the definitions to study.

Acceptance Criteria:
- Each card is able to printed off individually
- All cards can be printed at once
- The card is made into a printable format, with only the necessary information printed
- The option to print is made visible (such as an icon)
- It's easy to print

[2015-12-13 19:38] ericanaughton commented on #61
combined this what the 'cleanup all code' issue

[2015-12-13 19:38] #61 closed, assigned to nobody

[2015-12-13 19:48] ericanaughton commented on #57
already an issue

[2015-12-13 19:48] #57 closed, assigned to savance-ford

[2015-12-13 22:59] ericanaughton commented on #111
Note: An idea for the design of the card is to make it look like a flash card or index card.

[2015-12-13 23:21] #101 closed, assigned to nobody

[2015-12-14 15:58] ericanaughton commented on #63
@bigtiger likes the ribbon. "Contribute" on the ribbon. When clicked, it links to the instructions for contributing.

[2015-12-14 18:18] kathyoleary commented on #104
emailed Sandra Maly the english content for her to translate.  She agreed over the weekend to help translate whatever I email to her.  Woot!

[2015-12-14 20:12] kathyoleary commented on #102
https://github.com/adorableio/LMHT/pull/10  Posted a request for double thumbs.

[2015-12-14 21:05] ericanaughton commented on #110
index.html:
 < a href='/'>LMHT</a>
(between < nav > and < select id...>

[2015-12-15 17:25] ericanaughton opened #112 "Delete gulpfile.js"
No longer needed.

[2015-12-15 20:11] ericanaughton commented on #102
PR is merged

[2015-12-15 20:11] #102 closed, assigned to kathyoleary

[2015-12-16 17:27] ericanaughton commented on #63
merged to adorable master

[2015-12-16 17:27] #63 closed, assigned to kathyoleary

[2015-12-16 17:27] ericanaughton commented on #46
merged to adorable master

[2015-12-16 17:27] #46 closed, assigned to kathyoleary

[2015-12-16 20:35] bigtiger commented on #111
This is a cool idea but, until we get a request or show interest we should hold off.

[2015-12-16 21:32] ericanaughton opened #114 "Style Contribute Ribbon"
In order to know that I can contribute to LMHT
As a LMHT user
I want to the 'Contribute' ribbon to be bigger.

Acceptance Criteria:
- Ribbon is bigger

Given a LMHT user
When I go to the LMHT site
I want to easily see that I can contribute.

[2015-12-16 22:33] ericanaughton opened #115 "Research ribbon on sticky nav"
In order to know I can contribute
As a LMHT user
I want to see the 'Contribute' ribbon at all times

Acceptance Criteria:
- Ribbon is visible on the sticky nav, when you scroll down
- Ribbon works as a link to CONTRIBUTING.md

Given a LMHT user
When I go to the LMHT site
I want to easily see that I can contribute
And be directed to the instructions of how to contribute
From anywhere in the site.

[2015-12-17 18:49] ericanaughton commented on #114
PR is ready for review https://github.com/adorableio/LMHT/pull/16

[2015-12-17 19:02] ericanaughton commented on #96
PR ready for review https://github.com/adorableio/LMHT/pull/15

[2015-12-18 14:58] ericanaughton commented on #108
currently working on it in a branch called improve-ribbon

[2015-12-18 16:10] ericanaughton commented on #114
I'll be creating a new issue for a version 2 of the ribbon. possibly a bookmark style ribbon that slides out when you hover, saying something like 'Contribute on Github' or display its icon.

[2015-12-18 17:54] ericanaughton commented on #108
so incredibly stuck on this one. im moving on to something else for now.

[2015-12-18 21:33] ericanaughton commented on #107
This issue is either confused with a different issue, or is just inaccurately recorded.

[2015-12-18 21:33] #107 closed, assigned to ericanaughton

[2015-12-18 22:00] kathyoleary commented on #96
Updated and did the rest of the cleanup https://github.com/adorableio/LMHT/pull/15  Put out for two thumbs up.

[2015-12-18 22:01] kathyoleary commented on #104
Sent Jennifer Sandra's email so she can resent the updated Welcome info to her.

[2015-12-21 17:02] ericanaughton commented on #108
PR ready for review https://github.com/adorableio/LMHT/pull/18

[2015-12-21 20:15] ericanaughton commented on #106
@bigtiger agreed that this issue is not necessary

[2015-12-21 20:15] #106 closed, assigned to nobody

[2015-12-21 20:43] kathyoleary commented on #84
learnhtml.codes
learnlmht.codes
lmht.codes
html.codes--already taken
aprenderlmht.codes   (learn html.codes)

[2015-12-21 21:08] ericanaughton commented on #84
@kathyoleary before moving on to another issue, i would talk to @bigtiger about what our next priority is.

[2015-12-21 22:36] kathyoleary commented on #44
https://github.com/adorableio/LMHT/pull/19

Under construction - need to test it before merging it.

[2015-12-23 17:13] ericanaughton commented on #114
merged

[2015-12-23 17:13] #114 closed, assigned to ericanaughton

[2015-12-23 17:14] ericanaughton commented on #112
merged

[2015-12-23 17:14] #112 closed, assigned to kathyoleary

[2015-12-23 17:14] ericanaughton commented on #108
merged

[2015-12-23 17:14] #108 closed, assigned to ericanaughton

[2015-12-23 17:14] ericanaughton commented on #104
merged

[2015-12-23 17:14] #104 closed, assigned to JenEEsquivel

[2015-12-23 17:15] ericanaughton commented on #103
merged, pat gave a suggestion though https://github.com/adorableio/LMHT/pull/21

[2015-12-23 17:15] ericanaughton commented on #96
merged

[2015-12-23 17:15] #96 closed, assigned to kathyoleary

[2015-12-23 20:17] #103 closed, assigned to ericanaughton

[2015-12-23 20:33] kathyoleary commented on #115
research and find examples of different types of bookmarks, where will it hang, what will it cover?

[2015-12-23 20:41] kathyoleary commented on #105
Need to have something in place when we only have english side of definitions done, not a temporary translation, but something that says we need help with translations.

[2015-12-23 20:48] kathyoleary opened #120 "Determine next ten elements"

[2015-12-23 20:53] kathyoleary opened #121 "Fix example content for <link> to use the word link instead of title"

[2015-12-23 20:54] kathyoleary opened #122 "Fix example content for <link> to use the word link instead of title"

[2015-12-23 20:54] kathyoleary opened #123 "Audit spanish audio content"

[2015-12-23 21:00] kathyoleary opened #124 "Page auto scrolls up when element is selected"
In order to use less of my time
As a LMHT user
I want the page to automatically scroll up to where I can see all the content, when I select an element from the dropdown within the sticky nav.

Acceptance Criteria:
- When the new content loads, the page scrolls up to the beginning of the new content
- The transition is smooth

Given a LMHT user,
When I am scrolled down,
And sticky nav appears with

[2015-12-23 21:00] #70 closed, assigned to savance-ford

[2015-12-23 21:00] #38 closed, assigned to savance-ford

[2015-12-23 21:02] #122 closed, assigned to JenEEsquivel

[2015-12-23 21:03] kathyoleary commented on #122
duplicate of #121

[2015-12-23 21:05] kathyoleary opened #125 "Make logo clickable on stickynav"

[2015-12-23 21:21] ericanaughton opened #126 "Edit keydown code"
In order to prevent problems in the future
As a LMHT contributor
I want to clean up the code in combobox.js

Acceptance Criteria:
- $firstMenuItem.click(); is replaced with $('li:first:visible').click()
- Parent element is specified, if necessary

Given a LMHT contributor
When I go to combobox.js
I see the code is clear and specific to what it's attempting to do.

This is regarding Pat's suggestio

[2015-12-23 22:12] JenEEsquivel commented on #121
https://github.com/adorableio/LMHT/pull/26 Updated to include word "link" and added a valid link to the sample code.

[2015-12-23 22:33] kathyoleary commented on #44
OK,....further fixes I need to do before merging this...

going to separate out the other fixes to a separate PR, they're going to take more time.

The two issues will be put on other Issues are:  typing in page and hitting enter does not reliably bring the page up, you have to refresh for it to always work, but it does sometimes work.  No reliable way to always recreate the issue.

Also working o

[2015-12-28 16:10] ericanaughton commented on #105
wrote it in the wiki, jen will translate it there.

https://github.com/adorableio/LMHT/wiki

[2015-12-28 16:20] #110 closed, assigned to savance-ford

[2015-12-28 18:21] ericanaughton commented on #99
PR adorableio/LMHT#27 ready for review

[2015-12-28 18:22] ericanaughton commented on #126
PR adorableio/LMHT#27 ready for review

[2015-12-29 16:07] ericanaughton commented on #44
@kathyoleary i dont understand the first point. when i refresh the page, i dont expect a new page to appear. am i missing something?

[2015-12-29 18:05] kathyoleary commented on #44
If I bring up the site, and remove welcome and replace it with footer and hit enter, it does not bring up the footer page, you have to hit refresh page for it to bring it up.  I want to see if we can get it to open up upon hitting enter.

[2015-12-29 18:53] rylnd opened #128 "Style: 'if' is a keyword, not a function"
Rather than

[code]

please do

[code]

[2015-12-29 18:55] ericanaughton commented on #128
thanks @rylnd

[2015-12-29 21:27] ericanaughton commented on #126
merged to adorable master

[2015-12-29 21:27] #126 closed, assigned to ericanaughton

[2015-12-29 21:27] ericanaughton commented on #124
merged to adorable master

[2015-12-29 21:27] #124 closed, assigned to ericanaughton

[2015-12-29 21:29] ericanaughton commented on #99
merged to adorable master

[2015-12-29 21:29] #99 closed, assigned to ericanaughton

[2015-12-29 21:34] ericanaughton opened #130 "New content fade in/out?"
Some time ago, the new content of the selected element would fade in and out.  Some where along the line, that feature broke. Do we want to fix that in script.js?

![image](https://cloud.githubusercontent.com/assets/9439053/12042528/9cda6560-ae41-11e5-8d95-031921ac009e.png)

[2015-12-29 21:41] ericanaughton opened #131 "add footer to enable auto scrolling"
Because of the different lengths of definitions, the pages are not all equal sizes. This effects the position to where the page scrolls up or down.

When the window is short enough (like the image below), the page will automatically scroll up to the top of the new content.
![image](https://cloud.githubusercontent.com/assets/9439053/12042628/6e191a54-ae42-11e5-8290-0c43c4f086e5.png)

But if the win

[2015-12-29 22:00] ericanaughton opened #132 "Dropdown is fixed when re-sizing screen"
![image](https://cloud.githubusercontent.com/assets/9439053/12042907/4f237eb6-ae45-11e5-9ff0-5c7d234f97a8.png)

[2015-12-29 22:01] ericanaughton opened #133 "Button is broken when screen is small"
In order to see all the elements in the dropdown list
As a LMHT user
I want to be able to click the button of the combobox no matter how small my screen is.

Acceptance Criteria:
- Button is clickable no matter the size of the screen

Given a LMHT user
When my screen is small
And I click the button of the combobox
I see the dropdown list of elements.

---

Because the container of the ribbon block

[2015-12-29 22:09] ericanaughton opened #134 "Logo on sticky nav overlapped by search bar"
In order to see the entire logo when I scroll down
As a LMHT user
I want the logo to not be covered up by the search bar when my screen is small.

Acceptance Criteria:
- Logo is not covered up at any screen size

Given a LMHT user
When my screen is small and I scroll down
I see the entire logo on the sticky nav.

![image](https://cloud.githubusercontent.com/assets/9439053/12043054/8edb3cb4-ae46-11

[2015-12-29 22:12] kathyoleary opened #135 "Remove hashtag from URL's"
In order to navigate easier,
As an LMHT user,
I want to be able to just type the name of the tag I'm looking for to find it.

Acceptance Criteria:

The URL's will be the main webpage/linkname
No hashtags.

Given any LMHT user,
When they type the name of the link they want to learn about
They can find the link without having to know any special format to bring it up.

[2015-12-29 22:14] kathyoleary opened #136 "Enable page to load when enter is pressed in URL"
In order to navigate easier,
As an LMHT user,
I want to be able to just type the name of the tag I'm looking for and hit enter.

Acceptance Criteria:

After typing the web page I'm looking for I can just hit enter and it will refresh.

Given any LMHT user,
When they type the name of the link they want to learn about and hit enter
It will bring up the page without having to hit the refresh key ever

[2015-12-30 16:57] ericanaughton commented on #105
Spanish translation is now in the wiki.

[2015-12-30 16:57] #105 closed, assigned to JenEEsquivel

[2015-12-30 17:41] ericanaughton commented on #128
merged

[2015-12-30 17:41] #128 closed, assigned to nobody

[2015-12-30 19:01] ericanaughton commented on #121
merged

[2015-12-30 19:01] #121 closed, assigned to JenEEsquivel

[2015-12-30 19:04] ericanaughton commented on #120
how's this coming along @kathyoleary ?

[2015-12-30 19:13] ericanaughton opened #137 "Fix highlighted words in LINK code example"
In order to understand the code example of the LINK tag
As a LMHT user
I want to see LINK highlighted (not HTML highlighted).

Acceptance Criteria:
*LINK is highlighted
- HTML is not highlighted

Given a LMHT user
When I look at the code example for LINK
I see that LINK is highlighted within the example.

![image](https://cloud.githubusercontent.com/assets/9439053/12055900/1285e3c4-aef7-11e5-8ae1-

[2015-12-30 19:17] ericanaughton opened #138 "Lint Javascript code"
Suggested by @whazzmaster:
Use [eslint](http://eslint.org/) or similar; hook it up to travis or circleci so we can get style feedback before commit/PR merge.

_In order to maintain standards and consistency_
_As a developer working on LMHT_
_I want to have a linter give me feedback before I get my PR reviewed._
### Acceptance Criteria
- There is a set of rules that scans all of the javascript file

[2015-12-30 19:25] JenEEsquivel opened #139 "Highlighted yellow should be <link> rather than <html> in link.html"
See Erica's image comment in https://github.com/adorableio/LMHT/pull/26  "The wrong tag is highlighted. < link > should be highlighted, not < html >.

[2015-12-30 19:32] #139 closed, assigned to JenEEsquivel

[2015-12-30 19:32] JenEEsquivel commented on #139
Erica created an issue for this at aprox. the same time.  Closed my duplicate.

[2015-12-30 19:39] kathyoleary commented on #120
Went through a "Learn HTML in 24 Hrs" Course and found what order they learned things in.  This would be the next group. I have a copy on my shared Google Drive:  https://docs.google.com/document/d/1dJNMCS8sJzYH46AEul7V2j16D_v5S83Fh4NgCMbcCII/edit

That doc has the ones we already loaded, then the next recommended, followed by the order of the rest for the 24 hr class and then the breakout listing

[2015-12-30 20:43] savance-ford opened #140 "Minor Spanish edits in text"

[2015-12-30 20:44] savance-ford opened #141 "Minor spanish edits relating to audio"

[2015-12-30 20:44] #141 closed, assigned to nobody

[2015-12-30 20:46] #123 closed, assigned to JenEEsquivel

[2015-12-30 20:47] #120 closed, assigned to kathyoleary

[2015-12-30 20:51] #115 closed, assigned to savance-ford

[2015-12-30 21:09] savance-ford commented on #135
Need to find out if github pages  supports server url config

[2015-12-30 21:14] savance-ford commented on #134
Media query to remove logo on small screens

[2015-12-30 21:54] JenEEsquivel opened #143 "Edit Spanish text to match the audio (3 small edits)"
1.  In the "footer" tag, the Spanish translation should read "El Pie de Página" (adds the word El before Pie)
2. In the "br" tag, "El br etiqueta" (first line of the definition in Spanish) should be changed to "La etiqueta br"
3. In the "base" tag, the Spanish definition that reads "todos los URL relativos" should be changed to "todos los URLs relativos" (plural for URL)

[2016-01-04 17:42] kathyoleary opened #144 "English - Create <p> paragraph element"
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the paragraph element.

Acceptance Criteria:
The english text sections of the standard element page will be completed for `<p>`.

Given any LMHT user,
I want to select  and find the `<p>` element page
Where I can learn about the element in english.

[2016-01-04 17:50] kathyoleary opened #145 "English - Create <h1> - <h6> elements"
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the header elements.

Acceptance Criteria:
The english text sections of the standard element page will be completed for `<h1> - <h6>`.
Combine all 6 under one page - use sample coding to show the difference in size as they are otherwise identical.

Given any LMHT user,
I want to select  and find the `<h1

[2016-01-04 17:54] kathyoleary opened #146 "English - Create <div> element"
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the division element.

Acceptance Criteria:
The english text sections of the standard element page will be completed for `<div>`.

Given any LMHT user,
I want to select  and find the `<div>` element page
Where I can learn about the element in english.

[2016-01-04 17:55] kathyoleary opened #147 "English - Create <ol> element."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the ordered list (numbered) element.

Acceptance Criteria:
The english text sections of the standard element page will be completed for `<ol>`.

Given any LMHT user,
I want to select  and find the `<ol>` element page
Where I can learn about the element in english.

[2016-01-04 17:57] kathyoleary opened #148 "English - Create <ul> element"
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the unordered list (bulleted) element.

Acceptance Criteria:
The english text sections of the standard element page will be completed for `<ul>`.

Given any LMHT user,
I want to select  and find the `<ul>` element page
Where I can learn about the element in english.

[2016-01-04 17:58] kathyoleary opened #149 "English - Create <li> element."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the list item element.

Acceptance Criteria:
The english text sections of the standard element page will be completed for `<li>`.

Given any LMHT user,
I want to select  and find the `<li>` element page
Where I can learn about the element in english.

[2016-01-04 17:59] kathyoleary opened #150 "English - Create <em> element."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the emphasis (usually italic) element.

Acceptance Criteria:
The english text sections of the standard element page will be completed for `<em>`.

Given any LMHT user,
I want to select  and find the `<em>` element page
Where I can learn about the element in english.

[2016-01-04 18:00] kathyoleary opened #151 "English - Create <strong> element."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the strong emphasis (usually bold) element.

Acceptance Criteria:
The english text sections of the standard element page will be completed for `<strong>`.

Given any LMHT user,
I want to select  and find the `<strong>` element page
Where I can learn about the element in english.

[2016-01-04 18:01] kathyoleary opened #152 "English - Create <b> element."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the boldface text element.

Acceptance Criteria:
The english text sections of the standard element page will be completed for `<b>`.

Given any LMHT user,
I want to select  and find the `<b>` element page
Where I can learn about the element in english.

[2016-01-04 18:02] kathyoleary opened #153 "English - Create <i> element."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the italic text element.

Acceptance Criteria:
The english text sections of the standard element page will be completed for `<i>`.

Given any LMHT user,
I want to select  and find the `<i>` element page
Where I can learn about the element in english.

[2016-01-04 18:06] kathyoleary opened #154 "Spanish - Translations for <p> page"
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the paragraph element.

Acceptance Criteria:
Translate the english sections of the page to spanish and fill in the corresponding sections.

Given any LMHT user,
I want to select  and find the `<p>` element page
Where I can learn about the element in spanish.

[2016-01-04 18:08] kathyoleary opened #155 "Spanish - Translations for <h1> - <h6> page."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the headers elements.

Acceptance Criteria:
Translate the english sections of the page to spanish and fill in the corresponding sections.

Given any LMHT user,
I want to select  and find the `<h1> - <h6>` element page
Where I can learn about the element in spanish.

[2016-01-04 18:10] kathyoleary opened #156 "Spanish - Translations for <div> page."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the division element.

Acceptance Criteria:
Translate the english sections of the page to spanish and fill in the corresponding sections.

Given any LMHT user,
I want to select  and find the `<div>` element page
Where I can learn about the element in spanish.

[2016-01-04 18:11] kathyoleary opened #157 "Spanish - Translations for <ol> page."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the ordered list element.

Acceptance Criteria:
Translate the english sections of the page to spanish and fill in the corresponding sections.

Given any LMHT user,
I want to select  and find the `<ol>` element page
Where I can learn about the element in spanish.

[2016-01-04 18:13] kathyoleary opened #158 "Spanish - Translations for <ul> page."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the unordered list element.

Acceptance Criteria:
Translate the english sections of the page to spanish and fill in the corresponding sections.

Given any LMHT user,
I want to select  and find the `<ul>` element page
Where I can learn about the element in spanish.

[2016-01-04 18:13] kathyoleary opened #159 "Spanish - Translations for <li> page."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the list item element.

Acceptance Criteria:
Translate the english sections of the page to spanish and fill in the corresponding sections.

Given any LMHT user,
I want to select  and find the `<li>` element page
Where I can learn about the element in spanish.

[2016-01-04 18:14] kathyoleary opened #160 "Spanish - Translations for <em> page."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the emphasis element.

Acceptance Criteria:
Translate the english sections of the page to spanish and fill in the corresponding sections.

Given any LMHT user,
I want to select  and find the `<em>` element page
Where I can learn about the element in spanish.

[2016-01-04 18:15] kathyoleary opened #161 "Spanish - Translations for <strong> page."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the strong emphasis element.

Acceptance Criteria:
Translate the english sections of the page to spanish and fill in the corresponding sections.

Given any LMHT user,
I want to select  and find the `<strong>` element page
Where I can learn about the element in spanish.

[2016-01-04 18:16] kathyoleary opened #162 "Spanish - Translations for <b> page."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the boldface text element.

Acceptance Criteria:
Translate the english sections of the page to spanish and fill in the corresponding sections.

Given any LMHT user,
I want to select  and find the `<b>` element page
Where I can learn about the element in spanish.

[2016-01-04 18:17] kathyoleary opened #163 "Spanish - Translations for <i> page."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the italic text element.

Acceptance Criteria:
Translate the english sections of the page to spanish and fill in the corresponding sections.

Given any LMHT user,
I want to select  and find the `<i>` element page
Where I can learn about the element in spanish.

[2016-01-04 18:21] kathyoleary opened #164 "Audio - Create and load <p> audio files."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the paragraph element.

Acceptance Criteria:
Create and load the audio files needed for the <p> element page.

Given any LMHT user,
I want to select  and find the `<p>` element page
Where I can learn about the element in spanish or english and hear the translations.

[2016-01-04 18:22] kathyoleary opened #165 "Audio - Create and load <h1> - <h6> audio files."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the headers elements.

Acceptance Criteria:
Create and load the audio files needed for the <h1> - <h6> elements page.

Given any LMHT user,
I want to select  and find the `<h1> - <h6>` element page
Where I can learn about the element in spanish or english and hear the translations.

[2016-01-04 18:24] kathyoleary opened #166 "Audio - Create and load <div> audio files."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the division element.

Acceptance Criteria:
Create and load the audio files needed for the <div> element page.

Given any LMHT user,
I want to select  and find the `<div>` element page
Where I can learn about the element in spanish or english and hear the translations.

[2016-01-04 18:25] kathyoleary opened #167 "Audio - Create and load <ol> audio files."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the ordered list (numbered) element.

Acceptance Criteria:
Create and load the audio files needed for the <ol> element page.

Given any LMHT user,
I want to select  and find the `<ol>` element page
Where I can learn about the element in spanish or english and hear the translations.

[2016-01-04 18:26] kathyoleary opened #168 "Audio - Create and load <ul> audio files."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the unordered list element.

Acceptance Criteria:
Create and load the audio files needed for the <ul> element page.

Given any LMHT user,
I want to select  and find the `<ul>` element page
Where I can learn about the element in spanish or english and hear the translations.

[2016-01-04 18:26] kathyoleary opened #169 "Audio - Create and load <li> audio files."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the list item element.

Acceptance Criteria:
Create and load the audio files needed for the <li> element page.

Given any LMHT user,
I want to select  and find the `<li>` element page
Where I can learn about the element in spanish or english and hear the translations.

[2016-01-04 18:27] kathyoleary opened #170 "Audio - Create and load <em> audio files."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the emphasis element.

Acceptance Criteria:
Create and load the audio files needed for the <em> element page.

Given any LMHT user,
I want to select  and find the `<em>` element page
Where I can learn about the element in spanish or english and hear the translations.

[2016-01-04 18:28] kathyoleary opened #171 "Audio - Create and load <strong> audio files."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the strong emphasis element.

Acceptance Criteria:
Create and load the audio files needed for the <strong> element page.

Given any LMHT user,
I want to select  and find the `<strong>` element page
Where I can learn about the element in spanish or english and hear the translations.

[2016-01-04 18:29] kathyoleary opened #172 "Audio - Create and load <b> audio files."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the boldface text element.

Acceptance Criteria:
Create and load the audio files needed for the <b> element page.

Given any LMHT user,
I want to select  and find the `<b>` element page
Where I can learn about the element in spanish or english and hear the translations.

[2016-01-04 18:29] kathyoleary opened #173 "Audio - Create and load <i> audio files."
In order to learn more elements,
As an LMHT user,
I want to be able to look up and learn about the italic text element.

Acceptance Criteria:
Create and load the audio files needed for the <i> element page.

Given any LMHT user,
I want to select  and find the `<i>` element page
Where I can learn about the element in spanish or english and hear the translations.

[2016-01-04 18:39] kathyoleary commented on #44
OK, merged https://github.com/adorableio/LMHT/pull/19 and that removed the .html from the page.  The hash tag removal has been listed as blocked per Kevin - server issue not allowing us to do it.  and we cannot reliably recreate the enter button not working so until we can recreate it regularly we can't fix it.  Closing this issue because everything that could be done is done, the ones that are no

[2016-01-04 18:39] #44 closed, assigned to kathyoleary

[2016-01-04 20:52] kathyoleary commented on #134
https://github.com/adorableio/LMHT/pull/34 Submitted for thumbs.

[2016-01-05 17:28] ericanaughton commented on #138
@bigtiger  should we use TravisCI or CircleCI?

[2016-01-05 19:47] ericanaughton opened #174 "Double check jquery sources"
I think there's a couple jquery files in our project that we're not using.
![image](https://cloud.githubusercontent.com/assets/9439053/12125769/d14cfa30-b3b2-11e5-9a3d-64f26066be96.png)

[2016-01-05 19:51] ericanaughton opened #175 "Add CSS or SASS linter"
if we decide to add a css linter, we may want to decide whether or we're switching over to SASS first.

[2016-01-06 17:59] ericanaughton commented on #143
From Jen: "I will need to move three minor edits to the next sprint.  The edits are single word changes in Spanish text to match audio.  ["URL" changed to "URLs" in base tag Spanish definition, "El etiqueta" changed to La etiqueta" in the br tag, and add El before "Pie de Pagina" Spanish translation on the footer page "El Pie de Pagina"]   I will have these completed this week and can work on the

[2016-01-06 18:02] kathyoleary commented on #134
Thumbs in, merge done, branch deleted.

[2016-01-06 18:02] #134 closed, assigned to kathyoleary

[2016-01-06 18:03] ericanaughton commented on #138
PR https://github.com/adorableio/LMHT/pull/36 ready to reviews (adds linter)

PR https://github.com/adorableio/LMHT/pull/35 appeases the linter errors (rules are set at a basic level for now). This will not be ready to merge until the previous PR is merged and a PR with TravisCI is merged.

[2016-01-06 18:07] kathyoleary commented on #175
Do we want to do it under this or a separate issue, the css files need to be alphabetized, there are a few of them no longer in order.

I had alphabetized these in the 12-23 sprint and its already showing some out of order, so we probably need to - as a team- commit to these standards.

[2016-01-06 19:44] ericanaughton opened #177 "Welcome Section is broken"
PR https://github.com/LMHT/LMHT.github.io/pull/176 is blocked until this is fixed.

When you open the LMHT site locally, the Welcome section does not show.

![image](https://cloud.githubusercontent.com/assets/9439053/12152703/9663e464-b47b-11e5-9231-f6df484944fc.png)

[2016-01-06 19:47] ericanaughton commented on #133
this was resolved with the redesigned ribbon

[2016-01-06 19:48] #133 closed, assigned to nobody

[2016-01-06 20:30] kathyoleary commented on #140
Needs more detail from @JenEEsquivel  on which corrections need to be done

[2016-01-06 22:34] kathyoleary opened #178 "Text Editor Standards"
In order to produce cleaner and better, more uniformed code,
As an LMHT contributor,
I want to be able to set up my coding environment to automatically use LMHT's guidelines.

Acceptance Criteria:
Once Issue #175 is done, have CONTRIBUTING.md have details how to setup using the guidelines automatically for outside contributors.  Show example perhaps of using Atom as the editor and setting up CSSCo

[2016-01-06 22:36] kathyoleary opened #179 "Fix Contribute Ribbon When Screen Size Reduced - Part 1"
In order to have access to all elements of the LMHT screen,
As an LMHT user,
I want to be able to minimize the screen and still have access to the search bar.

Acceptance Criteria: (Fix in two parts - this is Part 2)
Total Criteria:
Fix Contribute ribbon so it does not cover over search box when screen size is reduced.
Criteria for Part 1:
Have Contribute Ribbon disappear when screen size reduces

[2016-01-07 17:25] ericanaughton commented on #138
linter and travis ci is merged, fixes are ready for review https://github.com/adorableio/LMHT/pull/35

[2016-01-07 17:25] ericanaughton commented on #125
merged

[2016-01-07 17:25] #125 closed, assigned to savance-ford

[2016-01-07 17:29] ericanaughton opened #180 "Add rules to linter"
In order to maintain standards and consistency
As a developer of LMHT
I want to have rules for spaces within and around parenthesis be consistent.

Acceptance Criteria:
- Adds a space after `if`. Ex: `if(Charlie)` should be `if (Charlie)`
- Removes extra spaces between parenthesis. Ex: `( Charlie )` should be `(Charlie)`

As a developer of LMHT
When I am contributing to the project
I want to know

[2016-01-08 15:21] ericanaughton opened #182 "Config Travis to run only on push"
In order to save from redundancy
As a LMHT developer
I want to configure TravisCI to only run on push.

Acceptance Criteria:
- TravisCI is no longer configured to run on PR
- TravisCI is only configured to run on push

As a LMHT developer
When I push my branch to master
I want TravisCI to check my code for errors only once,
Not a second time when I submit the PR.

[2016-01-08 18:30] kathyoleary commented on #179
It also covers up other text/divs as well, should either have it go behind them or disappear once it starts covering them

[2016-01-08 19:22] kathyoleary commented on #177
https://github.com/adorableio/LMHT/pull/39  submitted for thumbs

[2016-01-08 19:52] kathyoleary commented on #143
Put out there for thumbs https://github.com/adorableio/LMHT/pull/40

[2016-01-08 20:02] kathyoleary commented on #177
done and merged

[2016-01-08 20:02] #177 closed, assigned to kathyoleary

[2016-01-08 21:02] JenEEsquivel commented on #140
This is a duplicate issue.

[2016-01-08 21:02] #140 closed, assigned to JenEEsquivel

[2016-01-08 21:30] JenEEsquivel opened #183 "Spanish text edits on Welcome page"
In order to understand the Spanish text,
As an LMHT user,
I want to read proper Spanish translations.

Acceptance Criteria:
On the Welcome page, the Spanish text has minor spelling changes and edits
in the "Como utlizar LMHT" section.
1. selecció should be selección (add n)
2. informació should be información (add n)
3. Inglé should be Inglés (add s)
4. There should be a period at the end (after c

[2016-01-08 22:02] JenEEsquivel commented on #143
Double thumbs.  Merged, closed, deleted branch.

[2016-01-08 22:02] #143 closed, assigned to kathyoleary

[2016-01-08 22:42] kathyoleary commented on #179
Did some research...so far I see two ways to fix this, there could be more though.  You can straight CSS fix it with y-indexes, but that doesn't look like it fixes very neatly - at least with the bits of it I tested it out on.  Or we can redo the ribbon in html and assign it it's own div and then CSS fix the div.  It looks like it does a cleaner fix and prevents some future issues if items are add

[2016-01-08 22:54] JenEEsquivel commented on #183
Waiting on two thumbs up. https://github.com/adorableio/LMHT/pull/41

[2016-01-11 16:10] ericanaughton commented on #138
merged

[2016-01-11 16:10] #138 closed, assigned to ericanaughton

[2016-01-11 18:10] kathyoleary commented on #183
Got thumbs and merged, deleted etc.

[2016-01-11 18:10] #183 closed, assigned to nobody

[2016-01-11 20:37] kathyoleary opened #184 "Fix Example Code"
In order to learn how to create code correctly,
As an LMHT user,
I want the example codes shown for each element to be accurate.

Acceptance Criteria:
-    header example doesn't show </header> at end- shows <header> - Correct it to end header properly with </header>.
-    style example doesn't close style or h1 correctly and title example uses the same example and is also incorrect - Close both s

[2016-01-13 20:24] savance-ford commented on #131
Look at other sites with large footers for inspiration

[2016-01-20 20:10] kathyoleary commented on #184
https://github.com/adorableio/LMHT/pull/46  Put out there for thumbs.

[2016-01-20 20:29] #137 closed, assigned to JenEEsquivel

[2016-01-20 20:31] #182 closed, assigned to ericanaughton

[2016-01-20 20:36] bigtiger commented on #179
Split into two stories. One to hide the ribbon and the other to show a new contribute button.

[2016-01-20 20:47] kathyoleary opened #185 "Fix Contribute Ribbon When Screen Size Reduced - Part 2"
In order to have access to all elements of the LMHT screen,
As an LMHT user,
I want to be able to minimize the screen and still have access to the search bar.

Acceptance Criteria: (Fix in two parts - this is Part 2)
Total Criteria:
Fix Contribute ribbon so it does not cover over search box when screen size is reduced.
Criteria for Part 1:
Have Contribute Ribbon disappear when screen size reduces

[2016-01-20 23:12] #184 closed, assigned to kathyoleary

[2016-01-22 20:32] kathyoleary commented on #179
https://github.com/adorableio/LMHT/pull/47  Part one done.  Contribute ribbon disappears for now on screen reduction at same time that LMHT/HTML logo disappears.

[2016-01-27 21:03] kathyoleary commented on #179
Fixed the fix :)  It's ready for thumbs once code freeze is up

[2016-01-27 21:47] kathyoleary commented on #131
do we want to add https://github.com/LMHT/LMHT.github.io/issues/45 to this and put the links in the footer?

[2016-01-27 22:48] kathyoleary commented on #131
yes, link with #45 per Jim

[2016-01-29 20:48] kathyoleary commented on #144
[code]

English base: Paragraph

Definition:   The paragraph is a block level element (as opposed to an inline element) meaning it occupies the entire space of its container or parent element.  Therefore, it can contain inline elements within it.  Paragraphs are blocks of related text separated from other paragraphs by blank space and usually each paragraph is started with an indentation to mark t

[2016-01-29 21:07] kathyoleary commented on #145
[code]

English base: Headers

Definition: Not to be confused with the `<header>` element which is a whole section of a web page:  heading elements are used to describe the topic or give the title of the section it is introducing.  There are six graduated levels of font size and boldness with `<h1>` being the largest and boldest down to `<h6>` as the smallest and least boldface.

How to Remember:

[2016-01-29 21:42] JenEEsquivel commented on #144
:+1:  Possible edit:  "Put enough connected paragraph blocks together and you build a document; put enough bricks together and you have a building.

[2016-01-29 21:49] JenEEsquivel commented on #145
:+1: Nice. Is the line break between "the" and "element" in the definition just a Github quirk?
Possible edit for clarity (?): In a concert, the number one artist headlining in the show is the biggest and brightest, the second in importance is slightly smaller and under the headliner, and so on down the line--
just as heading level 1 &lt; h1 &gt; is the biggest and boldest, heading level 2 &lt; h2

[2016-02-03 22:27] kathyoleary commented on #179
merged :)

[2016-02-03 22:27] #179 closed, assigned to kathyoleary

[2016-02-29 17:56] kathyoleary commented on #131
https://github.com/adorableio/LMHT/pull/48  Put this through, it should be sufficient size to help the scroll issue.

[2016-02-29 17:57] kathyoleary commented on #45
https://github.com/adorableio/LMHT/pull/48  Sent this up. Waiting for thumbs.

[2016-02-29 19:18] kathyoleary opened #187 "Clean up code from last merge to LMHT master"
In order to produce cleaner and better, more uniformed code,
As an LMHT contributor,
I want to do the necessary, requested corrections to the existing code.

Pull up the notes from the last merge to the master LMHT site and do the requested corrections to each of the files as requested by team members. https://github.com/LMHT/LMHT.github.io/pull/186

Given any LMHT contributor,
II want to do any c

[2016-03-01 02:18] rylnd opened #188 "Search bar changes horizontal position on wider screens"
It's not noticeable at smaller widths, but at ~1000px viewport, switching between the absolute and fixed search bar causes the input itself to shift horizontally. The main difference is the presence/absence of the LMHT logo, so I'm guessing it's got something to do with that.

It's obviously not a _huge_ deal, but it does take away from the 'smoothness' of the search bar.

[2016-03-02 20:05] #174 closed, assigned to kathyoleary

[2016-03-02 20:45] #131 closed, assigned to kathyoleary

[2016-03-02 20:45] #45 closed, assigned to kathyoleary

[2016-03-07 19:19] kathyoleary commented on #187
Sent this up to fix it   https://github.com/adorableio/LMHT/pull/50

[2016-03-07 19:37] kathyoleary commented on #146
[code]

English base: Divider

Definition:  An all purpose, generic container for web page content.  There are different containers such as header, footer, nav, section that are for specific sections of the web page.  The div container is used when none of these apply.  You group content together in containers when you want to style the content in it the same way.

How to Remember:  Div is used to

[2016-03-07 19:47] kathyoleary commented on #147
[code]

English base: Ordered List

Definition:  Used to group a list of items in order with a preceding number, letter or Roman numeral.  The preceding number system is indicated in the CSS file using list-style-type to choose between numbers, letters or Roman numeral, however the actual starting number is in the html file using the start attribute.

How to Remember:  For a list to be in order, i

[2016-03-07 19:48] kathyoleary commented on #148
[code]

English base: Unordered List

Definition:  Used to group a list of items where the order that they are in is not important.  The bullet style can be changed to a wide variety of forms from dots to dashes to squares or even pictures.

How to Remember:  Unordered lists will start with bullets as they are not in order and have no numbering system to keep them in a specific order.

Code exampl

[2016-03-07 20:22] kathyoleary commented on #149
[code]

English base: List item

Definition:  A child element that is an item in a list.  The `<li>` must be in a parent container either: an ordered list `<ol>`, unordered list `<ul>` or menu `<menu>`.  In menus and unordered lists, each list item is usually separated by bullet points and in ordered lists they are separated in ascending or descending order using letters or numbers.

How to Rememb

[2016-03-07 21:12] kathyoleary commented on #150
[code]

English base: emphasis

Definition:  Element used to stress emphasis or show priority or force on a particular section of text.  Used to make a particular section of text stand out from its surrounding text.  It usually changes the selected text to italics to show the emphasis.

How to Remember:  Emotion also starts with em and emphasis means putting extra emotion into that section of text

[2016-03-07 21:55] kathyoleary commented on #151
[code]

English base: Strong emphasis

Definition:  Element used to indicate importance of selected text usually by putting it in bold print.  `<b>` boldface can also be used however `<strong>` is considered a logical state and `<b>` bold is a physical state.  In CSS, it is more logical to assign attributes to `<strong>` text to separate it and show emphasis, including assigning the physical attri

[2016-03-07 22:08] #187 closed, assigned to kathyoleary

[2016-03-07 22:50] kathyoleary commented on #152
[code]

English base: Boldface

Definition: Originally, `<b>` was meant to make text boldface.  Currently, it used to indicate section of text that is styled differently from other text.  However, it is recommended to use `<em>, <strong> or <mark>` when indicating important text and why it is important.  The `<b>` element is usually used when these don’t work well for the situation or to indicate

[2016-03-08 17:54] kathyoleary commented on #153
[code]

English base: Italic

Definition:  The italic element is used to indicate text that needs to stand apart from its surrounding text.  The most common uses are:  technical terms, foreign language, conversation or thoughts of characters in fictional stories or just as a way to add stress to a particular word or text.

How to Remember:  I is for interesting as well as italic and the `<i>` elem

[2016-03-11 19:53] rylnd commented on #146
Definition: An all-purpose, generic container for web content. There are more specific containers (header, footer, nav, section, etc.) for more specific use cases. If you're grouping content for generic purposes like styling or simply logical grouping, use a div.

[2016-03-11 20:00] rylnd commented on #146
I would maybe add another type of element in the div, to solidify the 'grouping' aspect:

[code]

[2016-03-11 20:03] rylnd commented on #149
How to Remember: A list item can be as simple as **an item on** a grocery list or as complicated as **a step in** directions on how to build a website.

[2016-03-11 20:32] rylnd commented on #150
I would either explain or remove the sentence about "usually chang[ing] ... to italics."

The description for `<strong>` in #152 does a good job of explaining the semantic difference between `<strong>` (logical state) vs `<b>` (physical state); we could do the same here.

[2016-03-16 17:30] vannrod commented on #153
Definition: The < i > element is used to indicate text that needs to stand apart from its surrounding text. The most common uses are: technical terms, foreign language, conversation or thoughts of characters in fictional stories, or just as a way to stress a particular word or text.

How to Remember: I is for interesting as well as italic, the < i > element is used to make interesting things stand

[2016-03-16 17:48] vannrod commented on #152
Definition: Originally, `<b>` was meant to make text boldface. Currently, it used to indicate a section of text that is styled differently from other text. The `<b>` element is usually used when other command codes don’t work well for the situation. It is also used to indicate keywords, product names, and other text that need to stand out but do not have any emphasis on the text. It is strongly re

[2016-03-16 18:52] kathyoleary commented on #144
Ok,
Ran into a couple of interesting things.  We currently do not have the code example box set to word wrap so anything that goes past the end of the box just keeps running off the end of the web page in a lighter color of text.

![screen shot 2016-03-16 at 1 53 54 pm](https://cloud.githubusercontent.com/assets/15365377/13825009/9a6b8474-eb7e-11e5-8ecb-0f550086203d.png)

So I applied word wrap, b

[2016-03-16 18:57] kathyoleary commented on #144
Changing the quote in the code example to:  Once upon a time, in a land far, far away, there lived a programmer.

[2016-03-16 19:10] kathyoleary commented on #144
https://github.com/adorableio/LMHT/pull/51  Sent up.

[2016-03-16 19:26] kathyoleary opened #189 "Code Example box doesn't word wrap code correctly"
Started with: https://github.com/LMHT/LMHT.github.io/issues/144

In order to learn proper coding,
As an LMHT user,
I want to be able to look up and see examples of coding of elements that are formatted properly.

Acceptance Criteria:
Create a way to keep the code example box from changing the format of the examples when the screen is resized.
Originally the box was not set to word wrap at all.  If

[2016-03-16 20:11] kathyoleary commented on #145
https://github.com/adorableio/LMHT/pull/52  Sent up.

[2016-03-18 17:17] kathyoleary commented on #146
https://github.com/adorableio/LMHT/pull/53  Sent up

[2016-03-18 17:18] kathyoleary commented on #146
Whoops will add Ryland's and resend.  Just saw that.  I was working without a wifi connection for a bit last night

[2016-03-18 18:54] kathyoleary commented on #146
Ok, I changed the definition but I am holding back on adding another element to the div because I want the example to not get too cumbersome or involved.  Just a basic example of what a div would look like as opposed to showing multiple examples and different variations as some of these we could really go hog wild on showing all the variations.  Going for smaller, simpler but still showing what it

[2016-03-18 19:14] kathyoleary commented on #147
https://github.com/adorableio/LMHT/pull/54  Sent up.  Holding back on sending the rest up till we clear 51-54 out.

[2016-03-22 19:20] kathyoleary commented on #148
https://github.com/adorableio/LMHT/pull/55 Sent up

[2016-03-22 19:35] kathyoleary commented on #149
https://github.com/adorableio/LMHT/pull/56  Sent up with Ryland's change already in it.

[2016-03-22 20:20] #144 closed, assigned to kathyoleary

[2016-03-22 20:21] #145 closed, assigned to kathyoleary

[2016-03-22 20:21] #146 closed, assigned to kathyoleary

[2016-03-22 20:37] #149 closed, assigned to kathyoleary

[2016-03-22 20:37] #148 closed, assigned to kathyoleary

[2016-03-25 16:50] kathyoleary commented on #150
Definition:  Element used to stress emphasis or show priority or force on a particular section of text.  Used to make a particular section of text stand out from its surrounding text.  It usually changes the selected text to italics to show the emphasis.

Changed to:

Definition:  Element used to stress emphasis or show priority or force on a particular section of text so it stands out from its su

[2016-03-25 17:09] kathyoleary commented on #150
https://github.com/adorableio/LMHT/pull/57  Sent up.

[2016-03-26 13:54] vannrod commented on #151
Definition: The `<strong>` element is used to indicate the importance of selected text and is typically displayed in boldface. Boldface `<b>` can also be used, but `<strong>` is considered a logical state and `<b>` is a physical state. The logical state allows for `<strong>` text to be expressed in many different ways including different colors or size, underlined, or whatever.

How to Remember: W

[2016-03-28 14:57] bigtiger opened #190 "Audio play buttons are broken on LMHT.github.io"
I'm not sure what's happening.

When I load a page like http://lmht.github.io/#br I expect to see multiple play buttons

One each for the english and spanish base word and definitions.

When I click the button I expect to hear them play audio.

[2016-03-28 15:54] ericanaughton commented on #190
@SaVanceX I've been looking into how this came to be. Not sure what happened yet. Any ideas?

[2016-03-28 17:36] kathyoleary opened #192 "Establish templates that allow easy input of new elements"
In order to produce cleaner and better, more uniformed code,
As an LMHT contributor,
I want to be able to set up my coding environment to automatically use LMHT's templates to add new elements.

Acceptance Criteria:
Research and see what templates would work best to load elements into the system.  If we are going to control the english side, and have contributors send in the written and audio for

[2016-03-28 20:07] #147 closed, assigned to kathyoleary

[2016-03-28 20:30] kathyoleary commented on #151
https://github.com/adorableio/LMHT/pull/59  sent up

[2016-03-29 14:45] ericanaughton commented on #190
fixed and merged to adorable master

[2016-03-29 14:45] #190 closed, assigned to ericanaughton

[2016-03-29 17:23] #150 closed, assigned to kathyoleary

[2016-03-29 17:23] #151 closed, assigned to kathyoleary

[2016-03-29 17:39] kathyoleary commented on #152
https://github.com/adorableio/LMHT/pull/61  Sent up.

[2016-03-29 18:01] kathyoleary commented on #153
https://github.com/adorableio/LMHT/pull/62  sent up.

[2016-04-04 18:48] #153 closed, assigned to kathyoleary

[2016-04-04 20:57] #152 closed, assigned to kathyoleary

[2016-04-04 20:59] kathyoleary commented on #185
WIP:  https://github.com/adorableio/LMHT/pull/64  Still working on it, but here's where the PR's are going.

[2016-04-04 21:05] kathyoleary commented on #185
FYI Note:  may need to do this as a fix, need to decide if we want to....we have the screen reduction set to get rid of the contribute ribbon and the LMHT logo and put the on the ribbon above the sticky nav....but the changed logo and contribute ribbon only show when the screen is small enough to activate the innermost sticky nav and bring the wider blue ribbon  with it.  So if you have the screen

[2016-04-05 19:53] kathyoleary commented on #185
https://github.com/adorableio/LMHT/pull/64 sent out for review

[2016-04-05 20:13] kathyoleary opened #198 "Search bar changes size at 1140px width"
In order to keep the UX flowing smoothly,
As an LMHT user,
I want the search bar to maintain its size until it has to switch to a smaller size due to screen reduction and at the smaller size, we should not lose the buttons on the side.

Acceptance Criteria:
Have search bar stay at larger size until the screen being minimized makes it have to reduce.  Once it does reduce, at mobile view or smallest

[2016-04-05 20:17] kathyoleary commented on #198
Larger size:

![screen shot 2016-04-05 at 3 15 02 pm](https://cloud.githubusercontent.com/assets/15365377/14296757/3d21c774-fb41-11e5-9eac-a0fd109ecf60.png)

smaller size:

![screen shot 2016-04-05 at 3 15 54 pm](https://cloud.githubusercontent.com/assets/15365377/14296776/4fe7a14e-fb41-11e5-9629-b5f41cd39d75.png)

Lost button:

![screen shot 2016-04-05 at 3 16 26 pm](https://cloud.githubuserconte

[2016-04-05 20:21] kathyoleary commented on #188
Switched to https://github.com/LMHT/LMHT.github.io/issues/198

Didn't realize it was a duplicate and the other one has the pics, and an additional issue with the search bar.

[2016-04-05 20:21] #188 closed, assigned to nobody

[2016-04-05 23:52] rylnd commented on #188
While this issue and #198 are probably caused by the same thing, I feel that, as stated, #198 does not explicitly cover this case (the slight horizontal shift when you scroll down past the fixed search bar). Could you please update its description so that this specific issue is not overlooked?

[2016-04-06 19:34] kathyoleary commented on #198
Also, from previous issue https://github.com/LMHT/LMHT.github.io/issues/188:

It's not noticeable at smaller widths, but at ~1000px viewport, switching between the absolute and fixed search bar causes the input itself to shift horizontally. The main difference is the presence/absence of the LMHT logo, so I'm guessing it's got something to do with that.

It's obviously not a huge deal, but it does

[2016-04-06 19:35] kathyoleary commented on #188
Updated to include and also reference this one.

[2016-04-20 18:11] kathyoleary commented on #189
Sent https://github.com/adorableio/LMHT/pull/68 up for review

[2016-04-27 18:57] kathyoleary commented on #185
Did the change with the the contribute ribbon and the LMHT logo.  Have an outstanding issue to fix with next Sprint as part of the search bar is getting overlaid and you can't view the down arrow at the end.  It's in https://github.com/LMHT/LMHT.github.io/issues/198 to fix it.  It happens at all times, not just on screen reduction with the ribbon having to convert to the double row'ed ribbon.  It

[2016-04-27 18:57] #185 closed, assigned to kathyoleary

[2016-04-27 19:01] #189 closed, assigned to nobody

[2016-05-13 18:03] kathyoleary opened #200 "Set up consistent bold face of tags in each listing"
In order to maintain standards and consistency
As a developer of LMHT
I want to have each element listing have the same styling - in this case bold the element throughout the listing.

Acceptance Criteria:
Go through each listing and make the tag being defined boldface so its consistent with the original 5 that were done.  (Look at the original listings and see how they boldfaced html tags and fol

[2016-05-13 18:10] kathyoleary opened #201 "Fix drop down menu so it doesn't drop off the bottom of the screen"
In order to maintain accessibility to the tags
As a user of LMHT
I want to be able to see the whole drop down menu and be able to access it/click it.

Acceptance Criteria:
Make the drop down menu fit to screen size so it doesn't extend past the bottom of the screen and can't be clicked on, nor will it allow scrolling down to the bottom.

As a user of LMHT
I want to be able to access the drop down

[2016-05-17 19:53] kathyoleary commented on #201
https://github.com/adorableio/LMHT/pull/69  sent this out today

[2016-05-17 19:58] #201 closed, assigned to kathyoleary

[2016-05-17 22:02] kathyoleary commented on #200
sent up https://github.com/adorableio/LMHT/pull/70

[2016-05-18 17:59] #200 closed, assigned to kathyoleary

[2016-05-20 20:57] kathyoleary commented on #180
Do not know if this will affect linter, but we need to also look at https://css-tricks.com/autoprefixer/ as we are using flexbox and that is affected a lot by changes in web browsers updating their code on how to deal with what we are using.  Need to integrate this or something similar to handle that.

[2016-06-08 20:02] kathyoleary commented on #180
Added "computed-property-spacing" to remove the extra spaces however there isn't a rule to add the space in an "if" statement.

[2016-06-21 20:02] rylnd commented on #180
@kathyoleary see http://eslint.org/docs/rules/space-before-blocks and http://eslint.org/docs/rules/keyword-spacing; I would not close this until those rules are enabled.

[2016-06-21 21:18] kathyoleary commented on #180
Updated all this under https://github.com/LMHT/LMHT.github.io/issues/71

[2016-06-21 21:22] rylnd commented on #180
@kathyoleary what about https://github.com/LMHT/LMHT.github.io/issues/180#issuecomment-227554737 ?

[2016-06-21 21:25] kathyoleary commented on #180
Those are automatically enabled with the linter recommended loaded at the top, according to the eslint page at least

[2016-06-21 21:28] rylnd commented on #180
I am able to do something like

[code]

and the linter does not complain. Are you seeing different behavior?

[2016-06-21 21:29] kathyoleary commented on #180
let me check, if so then even more of their documentation is incorrect or we need to see why its not behaving right.

[2016-06-21 21:31] rylnd commented on #180
Their documentation looks correct to me; the two rules in question have 'wrenches' (not check marks) proceeding them, which means that they support the `--fix` option, not that they are enabled by default.

[2016-06-22 19:07] kathyoleary opened #202 "Remove contribute ribbon at first breakpoint"
In order to provide a cleaner, smoother header
As an LMHT user,
I want the header to flow smoothly as the screen size is reduced, even down to mobil view.

Acceptance Criteria:
- Remove the contribute ribbon once the screen size drops down below 1140 (once the search bar starts running over the logo).
- Center LMHT/HTML logo over the search bar
- Verify it is ok for mobil view (don't lose the down

[2016-06-22 20:09] kathyoleary commented on #180
OK,

this one got messy fixing it across two PR's.  But had to open new one to do the rest of the work.  It's fixed under https://github.com/adorableio/LMHT/pull/72 with the rest of the requests.

[2016-06-22 20:09] #180 closed, assigned to kathyoleary

[2016-06-22 20:12] kathyoleary opened #203 "Updates Linter to newest version"
Reference https://github.com/adorableio/LMHT/pull/72  Just wanted to add it here as well to put it in the sprint as well as to keep both the adorable and LMHT sites on the same page with work being done.

[2016-06-22 20:12] #203 closed, assigned to kathyoleary

[2016-06-22 20:46] kathyoleary commented on #198
Decided to go a different way - loaded the code change in case minds change or something changes what we can or cannot do.

[2016-06-22 20:46] #198 closed, assigned to kathyoleary

[2016-06-29 22:00] kathyoleary commented on #202
https://github.com/adorableio/LMHT/pull/74

Finished

[2016-06-29 22:00] #202 closed, assigned to kathyoleary

[2016-07-06 20:00] kathyoleary commented on #111
Probaby done through CSS and a media query per Jim

[2016-07-22 19:01] kathyoleary commented on #132
The page is currently no longer doing this one.  I tested a couple ways.  Sending Erica a request if she can get it to repeat itself.

[2016-07-27 19:46] kathyoleary commented on #111
https://github.com/adorableio/LMHT/pull/75